<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  <display-name>World Rice Statistics</display-name>
  <!-- Servlets -->

  <servlet>
      <servlet-name>MySQLService</servlet-name>
      <servlet-class>org.irri.statistics.server.MySQLServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>MySQLService</servlet-name>
      <url-pattern>/wrs_manila/mysqlservice</url-pattern>
  </servlet-mapping>

<!--   <servlet> -->
<!--     <servlet-name>greetServlet</servlet-name> -->
<!--     <servlet-class>org.irri.statistics.server.GreetingServiceImpl</servlet-class> -->
<!--   </servlet> -->
  
<!--   <servlet-mapping> -->
<!--     <servlet-name>greetServlet</servlet-name> -->
<!--     <url-pattern>/wrs_manila/greet</url-pattern> -->
<!--   </servlet-mapping> -->
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>WRS_manila.html</welcome-file>
  </welcome-file-list>

</web-app>
